{% extends 'pages/article_layout.html' %}
{% block article %}
<h1 class="title is-1"> About Infinity Search </h1>
<hr/>
<h2> What We Do </h2>
Infinity Search is an <a href="https://gitlab.com/infinitysearch/infinity-search">open source</a> privacy search/metasearch engine built to connect everyone to a broader grasp of the internet. We
designed our service so that people can be more efficient and effective when they are searching online. We
do this by providing quick and relevant results while also making it easy to search for the same thing on
other internet resources if our results are not enough.
<hr/>

<h2> Why We Made Infinity Search </h2>

<br>
<h4> Efficiency </h4>
We made Infinity Search so that people could use the internet in a more efficient, effective, and
enjoyable way. With current search engines, if you can't find what you're searching for on the first page,
the general rule is that you may as well give up. There are, however, several other search engines and internet
resources online with their own algorithms and results that will probably have what you are searching for.
Many people are unaware of some of these sites and it would be inconvenient for them to search the same
thing on several of them. We made this service to solve this problem.
<br><br>
<h4> Privacy </h4>
The second reason for making this service is so that people can have another search engine
that values their <a href="/privacy"> privacy</a>. People have a right to their privacy and many of the
current search engines do everything that they can to track and identify their users. We wanted to make a search
engine that people can use without having to worry about their privacy being violated.

<hr/>

<h2> How Infinity Search Works </h2>
When you search for something on our site, we take the results from other search engines and our own indexes, organize it, and
display it directly to you without logging any information about you.
<hr/>


<h2> Our Funding Model </h2>
Our service is funded by non-tracking advertisements, affiliate links, and a <a href="/pro">pro version</a> (in development).

<hr/>
<h2> About Our Company </h2>
Our company is called Innovare Technologies and we are based out of Oklahoma. We are just a small team working to
improve how people use the internet.

<hr/>

<h2> More Information </h2>
You can view more about us and our latest updates on our blog at
<a href="https://infinitysearch.blog">https://infinitysearch.blog</a>.

<br><br>


{% endblock %}
