{% extends 'pages/article_layout.html' %}
{% block article %}

<br>

{% if sent == False %}
<div class="title is-3"> Send Us Your Feedback </div>
<div class="subtitle is-5"> Do you have any thoughts or recommendations for our service? Feel free to let us know below. </div>
<hr/>


<form action="/feedback" method="post">
    <textarea name="message" class="textarea"></textarea>
    <br>
    <input class="input" placeholder="email (optional)" name="email">
    <br><br>

    <input class="button" type="submit" value="Send us your message!">
</form>


{% endif %}

{% if sent == True %}
<div class="title is-3">  Thank you for sending us your message! </div>
<div class="subtitle is-5"> We will try to read it as soon as possible! </div>
{% endif %}

{% endblock %}
