<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity Search - Home</title>
    <meta name="description" content="Search with privacy and efficiency.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="search" type="application/opensearchdescription+xml" title="Infinity Search"
          href="https://infinitysearch.co/opensearch.xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" id="bulma_dark" href="{{ url_for('static', filename='css/bulma_dark.css') }}">
    <!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma_switch.css') }}">-->
    <script defer src="{{ url_for('static', filename='fa-all.js') }}"></script>
    <script src="/static/jquery-3.4.1.min.js"></script>
    <style>
        /*footer {*/
        /*    !*position: absolute;*!*/
        /*    bottom: 0;*/
        /*    width: 100%;*/
        /*}*/

        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .Site-content {
            flex: 1;
        }

        .search-button-icon {
            color: rgb(219, 219, 219)
        }

        .search-button-icon:hover {
            color: rgb(74, 74, 74);
        }

        .icon-spacing {
            margin-right: 3px;
        }

    </style>

</head>
<body class="Site">
<div class="Site-content">
    <div class="content column is-half is-offset-one-quarter" style="text-align: right">
        <button id="sun_button" class="button" onclick="switch_theme();"><i
                class="fas fa-sun"></i>
        </button>
        <button id="moon_button" class="button" onclick="switch_theme();"><i class="fas fa-moon"></i>
        </button>
        <a class="button" href="/default"><i class="fab fa-firefox icon-spacing"></i> <i
                class="fab fa-chrome icon-spacing"></i> <i class="fab fa-opera icon-spacing"></i><i
                class="fas fa-plus"></i></a>
        <a class="button" href="/account"> <i class="fas fa-user"></i> </a>

    </div>
    <div style="margin-top: 7%"></div>
    <div style="text-align: center;">
        <a href="/" style="display: inline-block;" id="light_logo">
            <img src="https://infinity-search-saved-favicons.s3.amazonaws.com/InfinitySearch/home_logo.png"
                 height="100px" width="400px">
        </a>
        <a href="/" style="display: inline-block;" id="dark_logo" hidden>
            <img src="https://infinity-search.s3.amazonaws.com/public/logo.png" height="94px" width="94px">
        </a>
        <br>
    </div>

    <div class="content column is-half is-offset-one-quarter"
         style="margin-top: 30px; padding-bottom: 0; margin-bottom: 20px;">
        <form action="/results" method="post" id="input_form" autocomplete="off">
            <div class="field has-addons">
                <div class="control has-icons-left is-expanded">
                    <input class="input is-medium" type="search" placeholder="Search for anything on the web"
                           name="Search"
                           autofocus="autofocus" onfocus="this.select()" required>
                    <span class="icon is-medium is-left" style="cursor: pointer">
                      <i class="fa fa-search"></i>
        </span>
                </div>
                <div class="control">
                    <button class="button input is-medium search-button-icon"><i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </form>

        <p style="font-size: 1.2em; padding-top: 15px;">
            &nbsp; {{message}} <a href="/why">See what makes us different </a>
        </p>

    </div>

    <div class="column is-half is-offset-one-quarter" style="padding-top: 0; margin-top: 0">
        <div class="tabs is-centered">
            <ul>
                <li class="is-active search_tab" onclick="switch_tab(this, '')"><a>Web</a></li>
                <li class="search_tab" onclick="switch_tab(this, '/images')"><a>Images</a></li>
                <li class="search_tab" onclick="switch_tab(this, '/videos')"><a>Videos</a></li>
                <li class="search_tab" onclick="switch_tab(this, '/news')"><a>News</a></li>
                <!--            <li class="search_tab" onclick="switch_tab(this, '/shopping')"><a>Shopping</a></li>-->
                <!--            <li class="search_tab" onclick="switch_tab(this, '/infinity')"><a>Infinity (Beta)</a></li>-->
            </ul>
        </div>
    </div>

    <div class="column is-half is-offset-one-quarter">
        <div class="content">

        </div>
    </div>
</div>

<footer class="footer footer-settings"
        style="text-align: center; padding-top: 10px; padding-bottom: 10px; background-color: white">
    <div class="column is-half is-offset-one-quarter">
        <div class="columns is-vcentered">
            <a class="column is-one-quarter" href="/about">
                About
            </a>
            <a class="column is-one-quarter" href="https://infinitysearch.blog">
                Blog
            </a>
            <a class="column is-one-quarter" href="/privacy">
                Privacy
            </a>
            <a class="column is-one-quarter" href="/contact">
                Contact
            </a>
        </div>
    </div>
</footer>

<script>
    function reset_selected_tab() {
        var tabs = document.getElementsByClassName("search_tab");
        var i;
        for (i = 0; i < tabs.length; i++) {
            var tab = tabs[i];
            if (tab.classList.contains('is-active')) {
                tab.classList.remove('is-active');
            }
        }
    }

    function switch_tab(list_element, value) {
        reset_selected_tab();
        document.getElementById('input_form').setAttribute('action', '/results' + value);
        list_element.classList.add('is-active');
    }
</script>
<script>
    var dark = false;

    function enable_dark_mode() {
        dark = true;
        $('#sun_button').show();
        $('#moon_button').hide();
        $('#dark_logo').show();
        $('#light_logo').hide();
        $('link[href="/static/css/bulma_dark.css"]').prop('disabled', false);
    }

    function disable_dark_mode() {
        dark = false;
        $('#sun_button').hide();
        $('#moon_button').show();
        $('#dark_logo').hide();
        $('#light_logo').show();

        $('link[href="/static/css/bulma_dark.css"]').prop('disabled', true);
    }

    function switch_theme() {
        if (dark === true) {
            dark = false;
            document.cookie = "infinity_dark_mode=0";
            disable_dark_mode();
        } else {
            dark = true;
            document.cookie = "infinity_dark_mode=1";
            enable_dark_mode();
        }
    }

    disable_dark_mode();
    $(document).ready(function () {
        if (document.cookie.indexOf("infinity_dark_mode") === -1) {
            dark = false;
            disable_dark_mode();
            return;
        }
        if (document.cookie.indexOf("infinity_dark_mode=0") > -1) { // If disabled
            dark = false;
            disable_dark_mode();
            return;
        } else if (document.cookie.indexOf("infinity_dark_mode=1") > -1) {
            dark = true;
            enable_dark_mode();
            return;
        }
    });
</script>

</body>
</html>
