{% extends 'pages/article_layout.html' %}
{% block article %}
<br>

{% if sent == False %}
<div class="title is-3"> Show Us Something Interesting</div>
<div class="subtitle is-5"> We are working to build a search index of interesting websites and content. If you find a
link that you find interesting, show it to us and we'll be very happy to show it.</div>
<hr/>

<form action="/interesting_find" method="post">
    URL:
    <input style="margin-top: 5px;" class="input" type="text" name="link" placeholder="https://infinitysearch.co">
    <br><br>
    <input class="button" type="submit" value="Send us your link!">

</form>


{% endif %}

{% if sent == True %}
<div class="title is-3">  Thank you for sending us what you found! </div>
<div class="subtitle is-5"> We will try to review it and add it to our system as soon as possible. </div>
{% endif %}

{% endblock %}
