{% extends 'pages/article_layout.html' %}
{% block article %}

<h1 class="title is-1">How To Make Us Your Default Search Engine</h1>

<div class="notification" id="detected_browser_notification" hidden>
    <button onclick="document.getElementById('detected_browser_notification').style.display = 'none';"
            class="delete"></button>
    <div id="detected_browser_text"></div>
</div>

<hr/>


<h3 style="cursor:pointer;" onclick="toggle_element('firefox', 'firefox_icon')">Firefox Based Browsers (Firefox,
    Waterfox, Cliqz, etc): <a><i id="firefox_icon" class="fas fa-angle-down"></i></a></h3>
<div id="firefox" hidden>
    <ol>
        <li>
            Go to <a href="https://infinitysearch.co">https://infinitysearch.co</a> and then click on the green
            plus
            on the search bar (shown in the image below) and then click on Add "Infinity Search".
            <br>
            <img src="https://infinity-search-saved-favicons.s3.amazonaws.com/InfinitySearch/Firefox.png">
        </li>
        <li>
            Doing this only adds Infinity Search to the list of search engines available in Firefox.

            To make us your default search engine, go to
            <a href="about:preferences#search">about:preferences#search</a>
            and change the default search engine to Infinity Search (as shown in the image below).

            <img src="https://infinity-search-saved-favicons.s3.amazonaws.com/InfinitySearch/Firefox2.png">
        </li>
    </ol>
</div>

<hr/>
<h3 style="cursor:pointer;" onclick="toggle_element('chrome', 'chrome_icon')">Chrome Based Browsers (Chrome, Brave,
    Opera, etc): <a><i id="chrome_icon" class="fas fa-angle-down"></i></a></h3>
<div id="chrome" hidden>
    <ol>
        <li>Go to settings</li>
        <li>Go to search engines</li>
        <li>Press manage search engines</li>
        <li>Press add</li>
        <li>Add the information shown below</li>
    </ol>

    <img src="https://infinity-search-saved-favicons.s3.amazonaws.com/InfinitySearch/Brave.png">

    The search engine and keyword value can be set to anything but the
    URL has to be https://infinitysearch.co/results?q=%s

</div>

<hr/>
<h3 style="cursor:pointer;" onclick="toggle_element('vivaldi', 'vivaldi_icon')">Vivaldi: <a><i id="vivaldi_icon"
                                                                                               class="fas fa-angle-down"></i></a>
</h3>
<div id="vivaldi" hidden>
    <ol>
        <li>Go to settings</li>
        <li>Go to search</li>
        <li>Press the + button</li>
        <li>Add the information shown below</li>
    </ol>

    <img src="https://infinity-search-saved-favicons.s3.amazonaws.com/InfinitySearch/Vivaldi.png">

    The search engine and nickname value can be set to anything but the
    URL has to be https://infinitysearch.co/results?q=%s

</div>

<hr/>
<h3 style="cursor:pointer;" onclick="toggle_element('safari', 'safari_icon')">Safari: <a><i id="safari_icon"
                                                                                            class="fas fa-angle-down"></i></a>
</h3>
<div id="safari" hidden>
    Currently on Safari, there is no option to add custom search engines. Hopefully they change this one day.
</div>

<hr/>
<h3 style="cursor:pointer;" onclick="toggle_element('other', 'other_icon')">Other Browsers: <a><i id="other_icon"
                                                                                                  class="fas fa-angle-down"></i></a>
</h3>
<div id="other" hidden>
    If your browser is not listed above and you need more instructions, please <a href="/contact">contact us</a> and we
    will update our instructions to include your browser.
</div>
<br>

<script>
    function toggle_element(element_id, icon_id) {
        if ($('#' + element_id).is(':hidden')) {
            $('#' + element_id).show();
            $('#' + element_id).show();
            $('#' + icon_id).removeClass('fa-angle-down').addClass('fas fa-angle-up')
        } else {
            $('#' + element_id).hide();
            $('#' + icon_id).removeClass('fa-angle-up').addClass('fas fa-angle-down')
        }
    }

</script>


<script>
    function detect_browser() {
        // Get the user-agent string
        let userAgentString = navigator.userAgent;

        console.log(userAgentString);

        // Detect Internet Explorer
        let IExplorerAgent = userAgentString.indexOf("MSIE") > -1 || userAgentString.indexOf("rv:") > -1;

        // Detect Chrome
        let chromeAgent = userAgentString.indexOf("Chrome") > -1;

        // Detect Firefox
        let firefoxAgent = userAgentString.indexOf("Firefox") > -1;

        // Detect Safari
        let safariAgent = userAgentString.indexOf("Safari") > -1;

        // Discard Safari since it also matches Chrome
        if ((chromeAgent) && (safariAgent)) safariAgent = false;

        // Detect Opera
        let operaAgent = userAgentString.indexOf("OP") > -1;

        // Discard Chrome since it also matches Opera
        if ((chromeAgent) && (operaAgent))
            chromeAgent = false;


        if (firefoxAgent === true) {
            return 'firefox';
        }
        if (chromeAgent === true) {
            return 'chrome';
        }
        if (safariAgent === true) {
            return 'safari';
        }
        if (operaAgent === true) {
            return 'opera';
        }
        if (IExplorerAgent === true) {
            return 'ie';
        }

    }

    function change_instructions(browser) {
        var ids = ['firefox', 'chrome', 'vivaldi', 'ie', 'opera', 'other', 'all'];

        var i;
        for (i = 0; i < ids.length; i++) {
            if (ids[i] === browser) {
                $('#' + ids[i]).show();
            } else {
                $('#' + ids[i]).hide();
            }
        }
    }

    function initial_setup() {
        var detected_browser = detect_browser();

        change_instructions(detected_browser);

        $('#detected_browser_notification').show();
        document.getElementById('detected_browser_text').innerHTML = "We've detected that you're using <b>" + detected_browser + "</b>. If this is incorrect or you would like to choose instructions for a different browser, please choose one of the other options below."
    }

    initial_setup();
</script>

{% endblock %}

