{% extends 'pages/article_layout.html' %}
{% block article %}
<h1 class="title is-1"> Infinity Search Pro </h1>
<hr/>

<h2> What It Is </h2>
Infinity Search Pro is Infinity Search with:
<ul>
    <li>
        No ads
    </li>
    <li>
        Infinity Bookmarks
    </li>
    <li>
        Infinity Proxy
    </li>
    <li>
        Customizable sidebars
    </li>
    <li>
        Saving your personal settings
    </li>
    <li>
        Early access to our indexes
    </li>
    <li>
        Early access to new features and integrations
    </li>
</ul>

<hr/>

<h2> Pricing </h2>
The pricing for Infinity Search Pro will be coming soon.
<br>
<hr/>

<div style="text-align: center">
    <a href="/signup" class="button is-link"> Request Early Access </a>
</div>
<br>

{% endblock %}
