{% if current == 'shopping' %}

    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    The results below are affiliate links. They do not change the price of the product but we do gain
                    a small commission if you click on the link and buy something from Amazon.
                </div>
            </div>
        </div>
    </div>

    {% for link in shopping_results %}
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <a href="{{link.url}}" class="toplink"> <span style="color: black"> <b>{{link.title}}</b> </span> </a>
                        <br>
                        <a href="{{link.url}}">{{link.url}} </a>
                        <br>
                        {{link.content}}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endif %}