{% if current == 'deepsearch' %}
    {% if deepsearch_results|length == 0 %}
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        We couldn't find any results found for this search. Our search engine is a very early stage
                        of development and many searches may not return anything useful at the moment
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% for link in deepsearch_results %}
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <a href="{{link[1]}}" class="toplink"> <span style="color: black"> <b>{{link[0]}}</b> </span> </a>
                            <br>
                            <a href="{{link[1]}}">{{link[1]}} </a>
                            <br>
                            {{link[2]}}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endif %}
