{% if current == 'web' %}

    {% for info in instant_extracts %}
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <div class="columns">
                            <div class="column is is-one-quarter">
                                <a href="{{info.page_url}}" class="toplink"> <span style="font-size: 20px;"> <b>{{info.title}}</b> </span> </a>
                                <br style="display: block; content: ''; margin-top: 10px;">
                                <a href="{{info.page_url}}"> <img src={{ info.thumbnail_url }} style="width: auto; height: 10em;"> </a>
                            </div>
                            <div class="column">
                                 <a href="{{info.page_url}}" class="toplink"> <b> {{ info.description }} </b></a>
                                <br style="display: block; content: ''; margin-top: 10px;">

                                <div id="style-1" style="overflow: auto; height: 10em">
                                    <span style="font-size: .98em">
                                        {{ info.extract }}
                                    <!--                                <br style="display: block; content: ''; margin-top: 1px;">-->
<!--                                <a style="font-size: .98em" href="{{info.page_url}}"><img onerror="imgError(this)" src="https://infinity-search-saved-favicons.s3.amazonaws.com/external_link_favicons/wikipedia.ico" height="16px" width="16px" style="padding-right: 5px;">{{info.page_url}}</a>-->
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for link in bing_results %}
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <a href="{{link.url}}" class="toplink"> <span> <b>{{link.title}}</b> </span> </a>
                        <br>
                        <a href="{{link.url}}" style="font-size: .98em;">{{link.url}}</a>
                        <br>
                        <div style="font-size: .98em">{{link.content}}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for link in infinity_results %}
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <a href="{{link[0]}}" class="toplink"> <span> <b>{{link[1]}}</b> </span> </a>
                        <br>
                        <a href="{{link[0]}}" style="font-size: .98em">{{link[0]}} </a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endif %}
