{% extends 'languages/spanish/article_layout_spanish.html' %}
{% block article %}
<h1> Contáctenos </h1>
<hr/>
<h2> Enviarnos Un Mensaje </h2>
Puedes contactarnos a través de correo electrónico en <a href="mailto:infinitysearch@protonmail.com">
    infinitysearch@protonmail.com</a>
<hr/>
<h2> Síguenos En Twitter </h2>
Manténgase al día con nosotros en <a href="https://twitter.com/InfinitySearch1">
    https://twitter.com/InfinitySearch1 </a>
<hr/>
<h2> Vea Nuestros Repositorios En GitLab </h2>
Observe nuestros proyectos de código abierto en <a href="https://gitlab.com/infinitysearch">
    https://gitlab.com/infinitysearch </a>
<hr/>
<h2> Descargue Nuestra Extension De Firefox </h2>
Descargue nuestra extensión para tener un acceso directo personalizado a nuestro sitio en
<a href="https://addons.mozilla.org/en-US/firefox/addon/infinity-search">https://addons.mozilla.org/en-US/firefox/addon/infinity-search</a>
<br>

{% endblock %}
